{% extends 'base.html.twig' %}

{% block title %}Weather Forecast{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #refresh_button {border: 1px solid green; border-radius: 5px; padding: 5px 10px; background-color: lightgreen; text-decoration: none;}
    #error_message {border: 1px solid lightcoral; border-radius: 3px; padding: 2px 2px; background-color: #ffdddd}
</style>

<div class="example-wrapper">
    <h1>Weather data from your city:</h1>

    {% if error != '' %}
        <div id="error_message">{{ error }}</div>
    {% endif %}

    <div id="json_data">{{ json_data|replace({" ": "&nbsp;"})|raw|nl2br }}</div>
    <br>
    <a id="refresh_button" href="{{ path('refresh_weather_data') }}">Refresh data</a>
</div>
{% endblock %}
